.navbar {
    background-color: #a1ccd0;
}
.first-row{
    text-align: center;
    font-family: 'Comfortaa', cursive;
    color: black;
    width: 100%;
    align-items: center;
    height: 400px;
    font-size: 2rem;
    background-image: url(skateboarding-1600x1068.jpg);
    background-size: cover;
    background-position: 50% 20%;
}
.second-row{
    font-family: 'Comfortaa', cursive;
    background-size: cover;
    background-position: 50% 50%;
    width: 100%;
    align-items: center;
    
}
.skate-history{
    text-align: center;
    margin-top: 25px;
}
blockquote{
    font-size: 1.5rem;
   
}
.li-zirnaya{
    font-weight: 900;
}
.Sostav-skate{
    width: 100%;
}
.my-card{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 10px;
    box-shadow: 0px 0px 5px rgb(193, 228, 255);
}
.my-card img{
    margin-bottom: 25px;
}
.my-card h3{
    text-align: center;
    font-family: 'Comfortaa', cursive;
}
footer{
    background-color: black;
    padding-top: 80px;
    padding-bottom: 80px;
    margin-top: 15px;
}
footer .text{
    color: gray;
    /* text-align: right; */
}
.socio-item{
    font-size: 2.3rem;
    color: lightgray;
    text-decoration: none;
    transition: 0.5s;
    margin-right: 10px;
}
.socio-item:hover{
    color: aqua;
    text-shadow: 0px 0px 7px white;
}
.text-sostav{
    text-align: center;
    padding-top: px;
    padding-bottom: 30px;
    font-size: 2.5rem;
}
.row-stance{
    padding: 25px;
    text-align: start;
}
.skate-history-p{
    font-size: 1rem;

}
.photo-skate img{
margin: 50px auto;
width: 100%;
}
.top-text{
    background-color: rgba(255, 255, 255, 0.391);
    padding: 30px 0;
}
.nav-item .nav-link{
    color: black !important;
}